<button id="button1">Click on me</button>
<script>
  function   MenuObject(element)
  {	 this.element = element;
	this.handleEvent = function(myEvent) 
  {
    switch(myEvent.type) {
        case 'mousedown':
		  this.element.innerHTML = "Now Mouse button pressed";
          break;
        case 'mouseup':
          this.element.innerHTML = "Now Mouse button released.";
          break; // . . . more cases
		}//end swicth
    }//end handleEvent
  }// end MenuObject
	  var button1 = document.querySelector('#button1');
	  var myMenuObj = new MenuObject(button1);
	  button1.addEventListener('mousedown', myMenuObj);
	  button1.addEventListener('mouseup', myMenuObj);
  //. . . more events 
 </script>
