<input type="text" value="enter a value" id="myInput">
<button type="button" value="Click me" id="myButton">click me </button>
<p> open console and 
	<br>debug the code
  <br> use watch to differentiate between the properties of the event 
that is attched to different elements (targets)  
<script>
  myInput.onclick = function(event) {
    // show event type, element and coordinates of the click
    alert(event.type + " at " + event.currentTarget);
    alert("Coordinates: " + event.clientX + ":" + event.clientY);
  };
  function dissectEvent(evt)
  {
    // show event type, element and coordinates of the click
    console.log("type & target:", evt.type + " at " + evt.currentTarget);
    console.log("Coordinates: ", evt.clientX + ":" + evt.clientY);
  }
  myButton.onclick = dissectEvent;
  
</script>