*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: rgb(209, 14, 14)
}

header
{
  text-align: center;
  background-color: rgb(92, 86, 86);
}

header h1,h2
{
    margin-top: 10px;
}

footer
{
  text-align: center;
  padding: 10px;
}

section
{
  padding: 10px;
}

hr
{
  border: 1.15px dashed rgb(0, 0, 0);
}

img
{
    width: 260px;
    height: 160px;
}

#one, #two
{
  padding-left: 15px;
}

#outOfFlow
{
  margin-left: auto;
  margin-right: auto;  
  border: groove rgb(190, 190, 0) 3px;
  width: 18%;
  height: 20%;
  border-radius: 5px;
  background-color: rgba(255, 0, 34, 0.199);
  color: black;
}

#two
{
  padding-left: 10%;
  position: absolute;
  bottom: 8.5%;
  right: 78%;
}

#years
{
  position: absolute;
  top: 102%;
  right: 65%;
}

#years li
{
  padding-bottom: 0%;
}

.nav 
{  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 58, 58);
}
  
.navli 
  {
    float: left;
    width: 19%;
  }
  
  li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 1px;
    text-decoration: none;
  }
  
  li a:hover 
  {
    background-color: #111;
  }