*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: rgb(209, 14, 14)
}

header
{
  text-align: center;
  background-color: rgb(92, 86, 86);
}

header h1,h2
{
    margin-top: 10px;
}

footer
{
  text-align: center;
  padding: 10px;
}

section
{
  padding: 10px;
}

hr
{
  border: 1.15px dashed rgb(0, 0, 0);
}

#interest p
{
    padding: 3px;
}

#one, #two
{
  padding-left: 15px;
}

#two
{
  padding-left: 10%;
  position: absolute;
  bottom: 51.5%;
  right: 75%;
}

#years
{
  position: absolute;
  bottom: 73%;
  right: 72%;
  padding: 2px;
}

#years li
{
  padding-bottom: 0%;
}

.nav 
{  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 58, 58);
}
  
.navli 
  {
    float: left;
    width: 19%;
  }
  
  li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 1px;
    text-decoration: none;
  }
  
  li a:hover 
  {
    background-color: #111;
  }