﻿
@model List<Lab11.Models.Address>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <div class="first">First Name: @item.FirstName</div>
    <div class="last">Last Name: @item.LastName</div>
    <div class="email"> Email: @item.Email</div>
    <hr>
}
