<style>
   *{padding:0px; margin:0px; box-sizing:border-box;}div, p, span {width:25%; border: 1px solid red; padding: 1em;}
   p, span {width: 100%; border-color: green;}
   span {border-color: blue; margin:3px;}
</style>
<div id="myDiv"  onclick="alert('i m clciking in the div');">
	<p> this is a p1 </p>
	<p> 
		this is a p2 
		<span > and a inner span in p2 </span>
	</p>
	</div>