<style>
   *{padding:0px; margin:0px; box-sizing:border-box;}div, p, span {width:25%; border: 1px solid red; padding: 1em;}
   p, span {width: 100%; border-color: green;}
   span {border-color: blue; margin:3px;}
</style>
<div id="myDiv" >
	<p> this is a p1 </p>
	<p id='p2'> 
		this is a p2 
		<span id="mySpan"> and a inner span in p2 </span>
	</p>
	</div>
<script>
var myDiv = document.querySelector('div');
//var myDiv=document.querySelector('#myDiv');
var p2 =  document.getElementById('p2');
p2.onclick= (function (event) 
			{
				alert('then, parent i m clciking in the p2');}
			);
myDiv.onclick= (function () {alert(' last i m clciking in the div');});
var elem = document.querySelector('span') ;
elem.onclick= (function () {alert('  i m clciking on span');});
</script>