/*This rule will force all browsers to treat our boxes the same*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*This rule will set the width of the article to 80% of the screen and center it*/
article{					
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*This rule will make all section float to the left and add padding on the left and right side so that text is not at the extreme edge of the section*/
section {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

/*This rule will add padding to the left and right side of all header sections to make sure text is not at the extreme edge*/
header{
	padding-left: 5px;
	padding-right: 5px;
}

/*This rule will re-establish the block rules preventing other elements below this from trying to float. It also adds padding to all footer sections to make sure that text is not at the extreme edge of the footer*/
footer {
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
}

/*This rule will add padding to the left and right sides of all paragraphs to make sure that text is not at the extreme edges. It will also create space above and below the paragraph to help show separation from the tags above and below. Note margin does not affect the contents, only the space around the outside of the paragraph box. The font size is also made a little bigger*/
p{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

 span{
	 font-weight: bold;
 }
 
 /*This rule will cause the text to wrap around the image and place 5px of space around all sides of the image*/
 img{
	 float: left;
	 margin: 5px;
 }
 
 /* This rule will make all of the td tags the same width, add 5px of padding all around the contents and render a black border that is 2 px wide around each td */
 td{
	 
	 border: solid black 2px;
	 padding: 5px;
 }
/*This rule sets the width of the first section*/ 
#left{
	width: 70%;
}

/*This rule sets the width of the second section*/
#right {
	width: 30%;
}

/*This rule centers all text in the first header*/
#pageTop {
	text-align: center;
}

/*This rule will make the paragraph tag in the footer float right*/
#author {
	float: right;
}

