*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body, html
{
	width: 100%;
	height: 100%;
}

header
{
	height: 3em;
	padding: 1em;
}

fieldset
{
	border: none;
	background-color: #f1f1f1;
	padding: 10px 10px;
	margin-bottom: 12px;
	width: 30%;
}

legend
{
	background-color: #ddeedd;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9fbeb9;
}
section
{
	float: left;
}

.button
{
	padding: 2px 3px;
}

#address
{
	background-color: #0b5586;
}

#misc
{
	background-color: darkviolet;
}

