*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background: cadetblue;
}
header{
    height: 20%;
    background: crimson;
    font-size: 2em;
    padding: 2%;
}

h1{
    color: white;
    text-align: center;
}

footer{
    height: 10%;
    background: bisque;
    font-size: 1.5em;
    clear: both;
    padding: .5em;
    width: 100%;
    position: relative;
}

p{
    text-align: center;
}

nav{
    height: 10%;
    padding: .15em;
    border: solid yellow .1em;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding-top: 1.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

ul li{
    width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    background: white;
    display: inline-block;
    margin: .25em;
}

section{
    background: #add8e5;
    height: 60%;
    border: black;
}

#image1, #image2{
    width: 50%;
    border: solid black;
}

#image1{
    float: left;
    height: 30em;
    position: relative;
}

#image2{
    float: right;
    height: 30em;
    position: relative;
}

#imagesrc1{
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 160px;
    position: absolute;
    top: 25%;
    left: 25%;
}

#imagesrc2{
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 160px;
    position: absolute;
    top: 10%;
    left: 30%;
}