* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 2em;
    color: blue;
}

.content {
    font-size: .75em;
    color: black;
}

.contentArea {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}

#wrapper {
    position: relative;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}

#home {
    display: block;
}

#multipleChoice, #shortAnswers, #coding {
    display: none;
}

section {
    background-color: aquamarine;
}
