body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #1b1d26;
  background-color: #f1f2d8;
}

p, h1, form, button {
  border: 0;
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 14px;
  background-color: #fff;
  border: solid 2px #425955;
}

p {
  font-size: 11px;
  color: #666;
  margin-bottom: 20px;
  border-bottom: solid 1px #bfbd9f;
  padding-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  text-align: right;
  width: 140px;
  float: left;
}

select {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #bfbd9f;
  width: 200px;
  margin: 2px 0 20px 10px;
}

input {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #bfbd9f;
  width: 200px;
  margin: 2px 0 20px 10px;
}

#errorMessage {
  color: red;
  display: none;
}
