*
{
    padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

article
{
    padding: 15px;
    color: rgb(10, 10, 10);
    width: 100%;
    height: 80%;
}

header
{
    font-weight: bold;
    text-align: center;
    color: rgb(187, 30, 30);
    font-size: 20px;
}

ul
{
    margin: 10px;
    padding: 5px;
    background-color: rgb(140, 171, 184);
    overflow: hidden;
    text-align: center
}

li 
{
    color: darkcyan;
    display: block;
    padding: 50px;
    text-align: center;
    text-decoration: aliceblue;
    display: inline;
}

li:hover
{
    background-color: rgb(0, 255, 157);
}

section
{
    float: left;   
    width: 20%;
    padding: 10px;
    margin: 0px;
    overflow: auto;
    text-align: justify;
    height: 800px;
    border: 3px solid black;
}

section header
{
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

footer
{
    clear: both;
    height: 5%;
    border: 
}

aside
{
    float: left;   
    width: 20%;
    padding: 10px;
    margin: 0px;
    overflow: auto;
    text-align: justify;
    height: 800px;
    border: 3px solid black;
}

#wrapper
{
    margin: 5%;
    border: 5px solid black;
}

.img
{
    width: 80%;
    height: auto;
}

.ad
{
    width: 88%;
    height: auto;
}

#outOfFlow
{
    position: absolute;
    bottom: 5%;
    right: 50%;
    border: groove rgb(165, 192, 9) 4px;
    border-radius: 20px;
    background-color: rgb(17, 0, 255);
    color: darkblue;
    height: 60%;
    overflow: hidden;
    padding: 7.5px;
    text-align: center; 
}