/*menu.css*/

#horizontal-menu{
    list-style-type: none;
    position: absolute;
    width: 100%;
    background: #999692;
    margin: 0 auto;
    padding: 10px 0px;
}

#horizontal-menu li {
    position: absolute;
    width: 24%;
    background: #3e403e;
    margin-left: 3px;
    float: left;
    border-right: 2px solid white;
    padding: 10px
}

#horizontal-menu li a {
    text-decoration-line: none;
    text-decoration-color: white;
    display: block;
    padding: 5px;
}

#horizontal-menu li a:hover{

}

.vertical-menu {
    list-style-type: none;

    background: #282928;
    
}