/*tutorial_layout.css*/
*{
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background: #efefef;
}

#main-container{
    width: 100%;
    height: 100%;
}

header, footer{
    height: 15%;
    width: 100%;
    color: white;
    background: maroon;
    text-align: center;
}

#left-div, #right-div, #middle-div{
    height: 70%;
    border-right-color: #252121;
    border-right-style: solid;
    border-right-width: 10px;
}

#left-div{
    width: 20%;
    background: lightblue;
    float: left;
}

#right-div{
    width: 30%;
    background: lightgreen;
    float: right;
}

#middle-div{
    width: 50%;
    background: yellow;
    float: left;
}

#menuTop{
    background: #bbbff5;
    position: relative;
}

#myLogo{
    width: 200px;
    border: 4px solid darkgray;
    position: fixed;
    left: 0%;
    top: 0%;
}

#box-right-1, #box-right-2, #box-right-3{
    width: 30%;
    top: 5px;
    position: absolute;
}

#box-right-1{
    background: #666650;
    left: 1%;
}

#box-right-2{
    background: #a22a62;
    right: 1%;
}

#box-right-3{
    background: #298a71;
    right: 35%;
}

footer{
    clear: both;
    position: relative;
}



