*{
	padding: 0px;
	margin: 0px;
}

body{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}

p {
  margin: 10px;
}

label {
  position: relative;
}


label span {
   display: inline-block;
   width: 120px;
   text-align: right;
}

ul li{
	float: right;
	padding: 0px 4px;

	font-size: .75em;
}

ul li a:hover{
	color: blue;
}

ul li a{
	cursor: pointer;
}

header{
	height: 3em;
	padding: 1em;
}

fieldset{
	border:none;
	background-color: #f1f1f1;
	padding: 10px 10px;
	margin-bottom: 12px;
	width: 40%;
}

legend{
	background-color: #dedede;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9fbeb9;
}

.field{
	width: 10em;
}

.rbord{
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
}

.button{
	padding: 2px 3px;
}

#address{
	background-color: #0b5586;
}

#misc{
	background-color: #4494c9;
}

#selection{
	background-color: #377d87;
}

#buttons{
	background-color: #717f88;
}
