/*
The following rule sets the padding and margin sizes for all elements and sides to zero and also forces the
browser to include padding and border in its width or height calculations for all boxes (margins are still
excluded from the calculation
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
The following rule is required to fix the height issues when using percentages and the browser is not
in quirks mode (ie: you have a valid doctype tag
*/
html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
}

header,
footer {
  text-align: center;
  padding: 20px;
}

header {
  height: 20%;
  background-color: yellow;
}

nav {
  height: 10%;
  background-color: blue;
}

footer {
  height: 10%;
  clear: both;
  background-color: bisque;
}

img {
  margin-top: 5%;
}

section {
  background-color: orange;
  height: 70%;
  border: 1px solid black;
}

.images {
  /* Use a no-effect relative position here so that absolute position of #menu is with respect
  to its containing .images section */
  position: relative;
  width: 50%;

  /* Make sure the images sections are always tall enough to fit the images. */
  min-height: 400px;
  float: left;
  background-color: lightblue;
  text-align: center;
}

#menu li {
  margin: 10px;

  /* remove bullet points */
  list-style: none;
  text-align: center;
}

/* stick Previous and Next to the edges of their container */
#first, #prev {
  float: left;
}

#last, #next {
  float: right;
}

#menu {
  /* Position the menu at the bottom of its container */
  position: absolute;
  bottom: 0;

  /* Giving left/right the same value and using auto for left/right margin makes an absolutely
  positioned element centered */
  left: 0;
  right: 0;
  margin: 10px auto;

  /* You need to set a width for margin auto to work */
  width: 50%;
}
