header{
  width: 100%;
  background-color: #00FFFF;
}

body{
  margin: 0em;
}

nav{
  top: 20%;
  height: 20%;
  width: 100%;
  background-color: #FF00FF;
}

#section1{
  width: 15%;
  height: 12em;
  background-color: yellow;
}

#section2{
  width: 13%;
  height: 11.5em;
  border-style: solid;
  border-width: .28em;
  background-color: yellow;
  position: absolute;
  top: 20%;
    right: 0%;
}

#pandaImg{
  float: right;
}

footer{
  top: 100%;
  background-color: #bdddf8;
}

p{
  text-align: center;
  margin: 0em;
}
