* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.disabledBtn, .enableBtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.disabledBtn {
  background-color: #ddd;}
.hoverBtn {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:50%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%  !important;
  margin-top: 6px;
}
 .errorDiv{
	border: 1px solid red;
    font-size:10px;
    font-weight:bold;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
